/* @extend display-flex; */
display-flex {
    display: flex;
    display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli {
    list-style-type: none;
    margin: 0;
    padding: 0; }

a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s; }


img {
    max-width: 100%;
    height: auto; }

figure {
    margin: 0; }

p {
    margin-bottom: 0px; }

h2 {
    line-height: 2.5;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px; }

.clear {
    clear: both; }



.main {
    padding: 150px 0;
    position: relative; }


.containere {
    width: 520px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 10px 9.9px 0.1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; }



input[type=checkbox]:not(old):checked + label > span {
    background-image: -moz-linear-gradient(white, white);
    background-image: -ms-linear-gradient(white, white);
    background-image: -o-linear-gradient(white, white);
    background-image: -webkit-linear-gradient(white, white);
    background-image: linear-gradient(white, white); }

input[type=checkbox]:not(old):checked + label > span:before {
    content: '\f26b';
    display: block;
    color: #222;
    font-size: 11px;
    line-height: 1.1;
    text-align: center;
    font-family: 'Material-Design-Iconic-Font';
    font-weight: bold; }

.label-agree-term {
    color: #888; }

.term-service {
    color: #1da0f2;
    text-decoration: none; }
.term-service:hover {
    text-decoration: underline; }

.submit {
    background: #1da0f2;
    color: #FFF;
    border: none;
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 600;
    font-family: Poppins;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
.submit:hover {
    background: #0c85d0; }

.loginhere {
    text-align: center;
    color: #888;
    margin-top: 63px; }

.loginhere-link {
    color: #1da0f2;
    text-decoration: none; }
.loginhere-link:hover {
    text-decoration: underline; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset; }

@media screen and (max-width: 768px) {
    .containere {
        width: calc( 100% - 30px);
        max-width: 100%; } }
@media screen and (max-width: 575px) {
    .sign-up-content {
        padding: 40px 20px 32px 20px; }

    .form-radio input + label {
        display: block;
        margin-bottom: 10px; } }
@media screen and (max-width: 400px) {
    .form-textbox label {
        left: 15px; }

    input {
        padding: 16px 30px 16px 100px; } }

body {
    font-family: sans-serif;
    background-color: #eeeeee;
}

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;

}

#myFileInput {
    display:none;
}

.file-upload-content {
    display: block;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 100px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

/*# sourceMappingURL=style.css.map */