#sat{
    font-family: 'Gugi', cursive;
    background: rgb(203 68 74);
    color: white;

}

#sat:hover{
    font-family: 'Gugi', cursive;

    background: darkgrey;
    color: white;
}

#giriskayit{
    color: white;
}

#giriskayit:hover{
    color: red;
}

#logo{
    font-family: 'Gugi', cursive;
    font-size: xx-large;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
